@import 'src/app/components/kit-core/mixins.scss';

.chartContainer {
  height: 100%;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;

  ::ng-deep {
    .ct-line {
      stroke-width: 1px;
    }

    .ct-series-a .ct-point,
    .ct-series-a .ct-line,
    .ct-series-a .ct-bar,
    .ct-series-a .ct-slice-donut {
      stroke: #004585;
    }

    .ct-series-a .ct-slice-pie,
    .ct-series-a .ct-area {
      fill: #0084ff;
    }
  }
}
